

<div id="content">
    <div id="form">
        <div id="form-title">
            <span><a asp-controller="welcome" asp-action="signup">SIGN UP</a></span>
            <span><a asp-controller="welcome" asp-action="signin" style="color: red;">SIGN IN</a></span>
        </div>
        <div id="form-content">
            <form asp-controller="Welcome" asp-action="ForgotPassword" method="post">
                Please enter your email address to change password
                @if (ViewBag.Mess == "1")
                {
                    <span style="color: red"><p>
                        Email is required!
                    </p></span>
                    <br />
                    <br />
                    <div>
                        <input name="email" type="text" /><br />
                    </div>
                    <input type="submit" value="Reset Password" />

                    <br />
                }
                else if (ViewBag.Mess == "2")
                {
                    <span style="color: red">
                        <p>
                            Email not existed!
                        </p>
                    </span>
                    <br />
                    <div>
                        <input name="email" type="text" /><br />
                    </div>
                    <input type="submit" value="Reset Password" />

                    <br />
                }
                else if (ViewBag.Mess == "3")
                {
                    <span style="color:blue">
                        <p>
                            Link to change password have been sent to your email address. 
                        </p>
                        <p>
                            Please check your email to change password!
                        </p>
                    </span>
                }
                else
                {
                    <br />
                    <br />
                    <div>
                        <input name="email" type="text" /><br />
                    </div>
                    <input type="submit" value="Reset Password" />
                }
            </form>
        </div>
    </div>
</div>