
<div id="content">
    <div id="form">
        <div id="form-title">
            <span><a asp-controller="welcome" asp-action="signup">SIGN UP</a></span>
            <span><a asp-controller="welcome" asp-action="signin" style="color: red;">SIGN IN</a></span>
        </div>
        <div id="form-content">
            @if (ViewBag.Mess == "1")
            {
                <span style="color: red">
                    <p>
                        Change password unsuccessfully. Password and Repassword is different
                    </p>
                </span>
                <form asp-controller="welcome" asp-action="ResetPassword" method="post">
                    <div>
                        <label>Email<span style="color: red;">*</span></label><br />
                        <input name="email" value="@ViewBag.Email" disabled type="Text" /><br />
                    </div>
                    <div>
                        <label>Password<span style="color: red;">*</span></label><br />
                        <input name="password" type="password" /><br />
                    </div>
                    <div>
                        <label>Password<span style="color: red;">*</span></label><br />
                        <input name="rePassword" type="password" /><br />
                    </div>
                    <input type="submit" value="Confirm" /><br />
                </form>
            }
            else if (ViewBag.Mess == "2")
            {
                <p>
                    Change password successfully
                </p>
            } else {
                <form asp-controller="welcome" asp-action="ResetPassword" method="post">
                    <div>
                        <label>Email<span style="color: red;">*</span></label><br />
                        <input name="email" value="@ViewBag.Email" disabled type="Text" /><br />
                    </div>
                    <div>
                        <label>Password<span style="color: red;">*</span></label><br />
                        <input name="password" type="password" /><br />
                    </div>
                    <div>
                        <label>Password<span style="color: red;">*</span></label><br />
                        <input name="rePassword" type="password" /><br />
                    </div>
                    <input type="submit" value="Confirm" /><br />
                </form>
            }
        </div>
    </div>
</div>